:root {
    color-scheme: light dark;
    --background-color-light: rgb(232, 232, 232);
    --background-color-dark: rgb(20, 20, 20);
    --bg-color-light: rgb(128, 128, 128);
    --bg-color-dark: rgb(128, 128, 128);
    --color-shadow-light: rgb(26, 26, 26);
    --color-shadow-dark: rgb(101, 101, 101);
    --menu-image-light: url(../imgs/menu_black.svg);
    --menu-image-dark: url(../imgs/menu_white.svg);
}

@font-face {
    font-family: 'Englebert';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/englebert/v21/xn7iYH8w2XGrC8AR4HSBSP3Z.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --bg-color: var(--bg-color-light);
        --color-shadow: var(--color-shadow-light);
        --menu-image: var(--menu-image-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --bg-color: var(--bg-color-dark);
        --color-shadow: var(--color-shadow-dark);
        --menu-image: var(--menu-image-dark);
    }
}

/* Media Queries for diff devices */

/* Phones */
@media only screen and (max-width: 600px) {
    main {
        height: 23vw;
    }
    #logo {
        font-size: 9vw;
        font-family: monospace;
        word-spacing: 5px;
        letter-spacing: 3px;
        padding-inline: 0.6em;
    }
    .scrolled main{
        height: 10vw;
        #logo{
            font-size: 3.3vw;
            margin-right: 64%;
            box-shadow: -4px 4px 6px 1px var(--color-shadow), 
        3px -3px 9px 1px #bababa;
        }
        #menu{
            display:none;
        }
    }
}
/* PCs */
@media only screen and (min-width: 600px) {
    main {
        height: 10vw;
    }
    #logo {
        font-size: 5vw;
        font-family: Englebert;
        word-spacing: 10px;
        letter-spacing: 7px;
        padding-inline: 1em;
    }
}

body {
    margin: 0;
    background-color: var(--background-color);
    transition: all 0.5s ease;
}

main {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--bg-color);
    transition: all 0.3s ease;
}
#logo {
    margin: 0;
    text-align: center;
    font-style: italic;
    box-shadow: -6px 6px 6px 2px var(--color-shadow), 5px -5px 9px 1px #bababa;
    border-radius: 10px;
    transition: all 0.3s ease
}
#menu {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 6vw;
    height: 6vw;
    border: 1px solid;
    background-image: var(--menu-image);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    transition: all 0.3s linear;
}
#menu:hover {
    cursor: pointer;
}
#wrapper {
    display: none;
    position: fixed;
    right: 2vw;
    width: min(30vw, 17em);
    height: min(29vw, 16em);
    border: 1px solid red;
    margin-top: calc(6vw + 1px);
    border-radius: 2px;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(17 102 46);
    padding: 1px 2px 1px 0px;
}
#wrapper a {
    border: 1px dotted white;
    width: 100%;
    height: min(2.5em, 7vw);
    border-radius: 2px;
    text-decoration: none;
    font-family: monospace;
    align-content: center;
    text-align: center;
    color: coral;
    font-size: min(2.7vw, 2em);
    background-color: rgb(62 37 210 / 60%);
}
.clicked #wrapper {
    display: flex;
}

#web_body {
    height: 58em;
    border-radius: 10px;
    background-color: rgb(6 0 92 / 76%);
}
